@font-face{
    font-family: "NHaas";
    src: url("./NHaasGroteskDSPro-55Rg.OTF");
}
/*html body{
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}*/
.NHaas{
    font-family: "NHaas";
}
