.my-slider-right-enter {
    opacity: 0;
    transform: translateX(100%);
}
.my-slider-right-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s, transform 0.25s ease;
}
.my-slider-right-exit {
    opacity: 1;
    transform: translateX(0);
}
.my-slider-right-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s, transform 0.25s ease;
}

.my-slider-left-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.my-slider-left-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s, transform 0.25s ease;
}
.my-slider-left-exit {
    opacity: 1;
    transform: translateX(0);
}
.my-slider-left-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s, transform 0.25s ease;
}

.my-slider-enter {
    opacity: 0;
    transform: translateY(20%)!important;
}
.my-slider-enter-active {
    opacity: 1;
    transform: translateY(100%)!important;
    transition: opacity 0.3s, transform 0.25s ease;
}
.my-slider-exit {
    opacity: 1;
    transform: translateY(100%)!important;
}
.my-slider-exit-active {
    opacity: 0;
    transform: translateY(20%)!important;
    transition: opacity 0.3s, transform 0.25s ease;
}
