
html body {
    margin: 0;
    min-width: 1380px;
    line-height: initial;
    font-family: NHaas, Helvetica, Montserrat-Regular, PingFang SC, Microsoft YaHei, SourceHanSerifCN-Medium, robotoregular, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, Helvetica, Arial, monospace, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: auto;
}
body{
    font-size: 0.12rem;
    letter-spacing: 0.02em;
}

* {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

img {
    vertical-align: bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body p {
    margin-bottom: 0;
}

input {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.inputWarn {
    border-color: #E86B4A !important;
}

/*scrollbar*/
html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #22352C;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #22352C;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


.font10 {
    font-size: 0.1rem;
}

.font12 {
    font-size: 0.12rem;
}

.font14 {
    font-size: 0.14rem;
}

.font16 {
    font-size: 0.16rem;
}

.font20 {
    font-size: 0.2rem;
}

.borderRadius{
    border-radius: 0.08rem;
}
