@mixin icon{
	font-size: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.tradingviewTool{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	//margin-bottom: 4px;
	background-color: $bgColor;
	color: #8193B8;
	.toolItem{
		display: inline-block;
		border-right: 1px solid transparent;
		font-size: 12px;
		padding: 0 10px;
		line-height: 20px;
		cursor: pointer;
		&.active{
			color: $activeColor;
		}
		&:hover{
			color: $activeColor;
		}
	}
	.reloadIcon{
		@include icon;
	}
	.fullscreenIcon{
		@include icon;
	}
	.toolRight{
		display: flex;
		align-items: center;
		.toolItem{
			border-left: 1px solid transparent;
		}
	}
}
